.AttachMenu {
  display: flex;

  &--button {
    &:focus {
      color: var(--color-primary);
    }
  }

  &--menu {
    position: relative;
    top: -3.5rem;

    @media (max-width: 600px) {
      top: -2.875rem;
    }

    .bubble {
      max-height: 20rem;
      overflow: auto;
    }

    .is-pointer-env & {
      > .backdrop {
        position: absolute;
        top: -1rem;
        left: auto;
        right: 0;
        width: 3.5rem;
      }
    }

    .media-disabled > button {
      white-space: normal;
    }
  }

  .MenuItem {
    padding: 0.4rem;
    // margin-right: 0.4rem;
    border-radius: var(--border-radius-full);
    .icon {
      margin: 0;
    }
  }
}

.bot-attach-context-menu {
  position: absolute;
}
